.config/nvim/dein
.config/nvim/tags*
.config/nvim/.netrwhist
.config/nvim/pythonpath.vim
.config/nvim/nodepath.vim
.config/nvim/autoload/plugged/*
.config/nvim/session
.config/vifm/vifminfo
.config/coc/extensions
.config/karabiner/assets
.config/karabiner/automatic_backups
.config/nvim/spell/
